.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #0f0e12;
    height: 100vh;
}

.chat__messages {
    flex: 1;
    overflow: scroll;
}

/* Hide scollbar for chrome, safari and opera */
.chat__messages::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, edge and firefox */
.chat__messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__input {
    color: #7346ed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
    border-top: 1px solid #3e3e3e;
    background-color: #241f2b;
}

.chat__input > form > input {
    padding: 15px;
    background-color: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: #fff;
    font-size: large;
}

.chat__input > form {
    flex: 1;
}

.chat__input > form > button {
    display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
} 

