.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: #1a181f;
}

.login > button {
    width: 300px;
    color: #eff2f5;
    background-color: #7346ed;
    border: 1px solid #7346ed;
    font-weight: 800;
}

.login > button:hover {
    background-color: #ffffff0a;
    color: #fff;
    
}

.login > div > img {
    object-fit: contain;
    height: 350px;
}